.header{
    background-image: url(../imgs/bg.jpg);
    min-height: 100vh ; 
    background-position: center center;
    background-size: cover;
    position: relative;
    
    
}
/* css spinar use loading aplcation  */
/* body{
    overflow: hidden;
}
.loading{
    background-color: #343434;
    position: fixed;
     inset: 0; /* بدل ال توب رايت بوتون ليفت */
    z-index: 9999;
}
.loader {
    width: 100px;
    height: 100px;
    background: linear-gradient(
      165deg,
      rgba(255, 255, 255, 1) 0%,
      rgb(220, 220, 220) 40%,
      rgb(170, 170, 170) 98%,
      rgb(10, 10, 10) 100%
    );
    border-radius: 50%;
    position: relative;
  }

  .loader:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-bottom: 0 solid #ffffff05;
    box-shadow: 0 -10px 20px 20px #ffffff40 inset,
      0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset,
      0 -3px 2px #ffffffbb inset, 0 2px 0px #ffffff, 0 2px 3px #ffffff,
      0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
    filter: blur(3px);
    animation: 2s rotate linear infinite;
  }

  @keyframes rotate {
    100% { transform: rotate(360deg) }
  } */
      
.header .container{
    position: relative;
}


 .home-leyar{
background-color: rgba(00, 00, 00, 0.5) !important;
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
z-index: 1;


}
my-about{
    background-color: #343434;
}

.my-services{
    background-color: #f7f7f7;
    text-align: center;
    padding: 20px 25px;

}
.my-work{
    background-color: #f7f7f7cf;
}
.my-claint{
    background-color: #f7f7f7;
}
.my-bg2{
    background-color: white;
}
.my-footer2{
    background-color: black;
}
/* .about */
.col-7 .letter-spacing {
    letter-spacing: 4px;
}
/* section team */
.icons{
    width: 40px;
    height: 40px;
    border-radius: 50%;

}
.card-layer{
    right: 0;
    left: 0;
    background-color: #f7f7f7a9;
}

.card:hover .card-layer{
transform: rotatey(180deg);
opacity: 2!important;
}
/* end section team */